<!doctype html>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
<title>Jobs</title>
<table>
    <tr>
      <th>Name</th>
      <th>Next run</th>
      <th>Last run</th>
      <th>Last status</th>
    </tr>
    {% for job in sisyphus.jobs %}
        <tr>
            <td>{{ job.name }}</td>
            <td>{{ job.next_run }}</td>
            <td>{{ job.last_run }}</td>
            <td>{{ job.last_state.status }}</td>
        </tr>
    {% endfor %}
</table>
